<!-- <div class="col col-1" data-label="Event">Lecture</div> -->
<div class="col-2" data-label="Time">
    <!-- {{ include.event.date | date: site.dateformat }} -->
    <!-- <br class="date-spliter"/> -->
    {{ include.event.start_time }}--{{ include.event.end_time }}
</div>
<div class="col-3" data-label="Event">
    {{ include.event.title }}
    {% if include.event.presenter %}
    <div>
        <i>{{ include.event.presenter }}</i>
    </div>
    {% endif %}
    <div class="schedule-lecture-links">
    {% include lecture_links.html lecture=include.event %}
    </div>
    
</div>
<div class="col-4" data-label="Description">
    {% if include.event.description %}
    <div>
        {{ include.event.description }}
    </div>
    {% endif %}
</div>  
<!-- <div class="col col-4 markdown-content" data-label="Course Material"> -->
    <!-- {% if include.event.suggested_readings %}
    <p style="margin-bottom: 2px">Suggested Readings:</p>
    <ul>
        {% for m in include.event.suggested_readings %}
        <li class="raw_li">{% if m.url %}<a href="{{ m.url }}">{{ m.title }}</a>{% else %}{{ m.title }}{%
            endif %}</li>

        {% endfor %}
    </ul>
    {% endif %} -->
    <!-- {% if include.event.content != '' %}
    {{ event.content }}
    {% endif %} -->
<!-- </div> -->